*{
	font-family:"微软雅黑";
}
body{
	margin:0;
	padding-bottom:69px;
	font-size:17px;
	background-color:#fff;
}
a{
	text-decoration:none;
	color:inherit;
}
input{
	padding:0;
	border:none;
	font-size:inherit;
}
input[type=button], input[type=submit], input[type=file], button { 
	outline:0px;
	cursor: pointer; 
	-webkit-appearance: none; 
} 
.red{
	color:#E51C23;
}
.green{
	color:#13F20F;
}
.middleline8{
	width:100%; height:8px; background-color:#f2f2f2;
}
.middleline15{
	width:100%;
	height:15px;
	background-color:#f2f2f2;
}
.swiper-slide img{
	width:100%;
	height:100%;
}
.marginbottom30{
	margin-bottom:50px;
}




/**  popup  弹出框  **/
.popup-k{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	display:none;
}
.popup-zhezhao{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0.4;
	filter:alpha(opacity=40);
	z-index:101;
}
.popup-box-k{
	width:100%;
	height:70%;
	display:flex;
	display: -webkit-flex; /* Safari */
	flex-direction:column;
	justify-content:center;
	text-align:center;
}
.popup-box{
	width:350px;
	background-color:#fff;
	margin:auto;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	z-index:102;
}
.popup-text{
	padding:35px 0;
	text-align:center;
}
.popup-text-bt{
	font-weight:bold;
	font-size:20px;
}
.popup-text-inputk{
	padding:30px 30px 0 30px;
	text-align:left;
}
input.popup-text-input-radio{
	margin-right:10px;
}
input.popup-text-input-text{
	width:200px;
	height:30px;
	border-bottom:1px solid #ccc;
	font-size:inherit;
}
textarea.popup-text-input-textarea{
	width:100%;
	height:100px;
	font-size:17px;
	padding:5px;
}
.popup-button{
	height:60px;
	text-align:center;
	line-height:60px;
	border-top:1px solid #999;
}
.popup-button-confirm{
	width:174px;
	border-right:2px solid #ccc;
	color:green;
	float:left;
}
.popup-button-cancel{
	width:174px;
	color:#999;
	float:right;
}
.popup-box-tip{
	text-align:center;
	color:red;
	font-size:15px;
}





/**  popup-tip  弹出小提示 **/
.popup-tip{
	width:100%;
	position:fixed;
	bottom:130px;
	left:0;
	text-align:center;
	display:none;
}
.popup-tip-text{
	background-color:#000;
	color:#fff;
	opacity:0.6;
	filter:alpha(opacity=60);
	padding:5px 20px;
	font-size:15px;
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
}






/*    login  登录页面样式   */
.login-header{
	width:100%;
}
.login-header-single{
	width:150px;
	line-height:60px;
	float:left;
	text-align:center;
	margin:0 43.5px;
	font-size:19px;
	
}
.login-header-active{
	border-bottom:2px solid red;
	color:red;
	font-size:21px;
}
.login-signup{
	display:none;
}
.login-ul{
	margin:0;
	padding:0;
}
.login-ul li{
	width:405px;
	margin-left:35px;
	list-style:none;
	height:50px;
	border-bottom:2px solid #f2f2f2;
	line-height:50px;
}
.login-ul li input{
	height:45px;
	width:300px;
	font-size:17px;
	padding:0 10px;
	margin-left:10px;
}
.login-message{
	widtj:100%;
	text-align:center;
	color:red;
	margin-top:50px;
}
.login-codeimg{
	cursor:pointer;
	width:100px;
	float:right;
	margin-top:10px;
}


/* cover 封面样式 */






/* index 首页样式 */
.index-body{
	width:100%;
	height:100%;
	background-image:url(../img/index-bg.jpg);
	background-size:100%;
	background-position:center;
	display:flex;
	display: -webkit-flex; /* Safari */
	flex-direction:column;
	justify-content:center;
	text-align:center;
}
.index-button{
	width:200px;
	height:50px;
	line-height:50px;
	background-color:#E51C23;
	color:#fff;
	margin:0 auto 80px;
	border:none;
	font-size:20px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
.index-footer{
	position:absolute;
	bottom:10px;
	left:0;
	right:0;
}
.index-footer img{
	width:40%;
}
.index-task{
	padding:10px 0;
	background-color:#f7f7f7;
}
.index-task-bt{
	width:100%;
	text-align:center;
	color:red;
	font-size:21px;
	line-height:60px;
	font-weight:bold;
	text-decoration:underline;
}
.index-task-bt img{
	width:30px;
	vertical-align:middle;
	margin-top:-5px;
	margin-right:10px;
}
.index-task-k{
	width:415px;
	height:255px;
	margin-left:15px;
	margin-bottom:10px;
	background-color:#fff;
	box-shadow:0 1px 2px rgba(0,0,0,.3);
	padding:10px 15px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	overflow:hidden;
}
.index-task-k .swiper-slide{
	border-bottom:2px solid #f2f2f2;
	padding:5px 0;
}
.index-task-single-line{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	padding:3px 0;
}
.index-task-single-icon{
	width:18px;
	height:18px;
	float:left;
	color:#fff;
	text-align:center;
	font-size:12px;
	margin-right:10px;
	margin-top:5px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}
.index-task-single-icon img{
	width:18px;
	height:18px;
}
.bgorange{
	background-color:#ffa500;
}
.bgblue{
	background-color:#007aff;
}
.bgpink{
	background-color:#FFC0CB;
}
.bgred{
	background-color:red;
}
.index-task-single-address{
	font-size:14px;
	line-height:25px;
	color:#666;
	margin-bottom:10px;
}
.index-task-single-address img{
	width:15px;
	height:15px;
	margin-top:-5px;
	margin-right:5px;
	vertical-align:middle;
}
.index-task-li-right{
	float:right;
}
.index-dh-single{
	width:80px;
	height:35px;
	margin:10px 10.5px;
	border:1px solid #ccc;
	float:left;
	color:#fff;
	font-size:20px;
	background-color:#f96306;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	display:flex;
	display: -webkit-flex;
	flex-direction:column;
	justify-content:center;
	text-align:center;
}





/* task 任务页面样式 */
.task-filter{
	width:100%;
	height:53px;
	border-bottom:10px solid #f2f2f2;
}
.task-filter ul{
	margin:0;
	padding:0;
	width:100%;
	line-height:50px;
	
}
.task-filter ul li{
	width:158px;
	float:left;
	text-align:center;
	list-style:none;
}
.task-filter ul li.center{
	width:155px;
	border-left:2px solid #f2f2f2;
	border-right:2px solid #f2f2f2;
}
li.task-filter-active{
	color:#f96306;
	border-bottom:2px solid #f96306;
}
.task-filter-select{
	width:80%;
	border:none;
	margin:0 10%;
}
.task-list{
	padding-top:60px;
}
.task-single{
	width:435px;
	height:100px;
	color:#000;
	border-bottom:5px solid #f2f2f2;
	padding:10px 20px 0;
}
.task-single-right{
	float:right;
	width:90px;
	height:100%;
	display:flex;
	display: -webkit-flex;
	flex-direction:column;
	justify-content:center;
	text-align:center;
}
.task-single-content{
	margin:10px 0;
	max-height:54px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.task-single-pay{
	line-height:40px;
	float:right;
}
.task-single-right-button{
	font-size:19px;
	color:#fff;
	padding:5px;
	background-color:#f96306;
	text-align:center;
	border-radius:10px; 
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
.task-single-right-remark{
	font-size:14px; margin-top:10px;
}
.task-single-right-remark img{
	width:20px; 
	vertical-align:middle; 
	margin:-3px 3px 0 0;
}
.task-single-textk{
	display:flex;
	display: -webkit-flex;
	flex-direction:column;
	justify-content:center;
	height:100%;
	padding:0 10px 0 5px;
}
.task-single-text{
	overflow:hidden;
	text-overflow: ellipsis;
    -webkit-line-clamp:3;
	display:-webkit-box;
    -webkit-box-orient: vertical;
}
.task-single-total{
	margin-bottom:10px;
	font-size:14px;
	color:#999;
}
.task-single-total-look{
	float:left;
	width:80px;
}
.task-single-total-look-icon{
	width:18px;
	height:18px;
	margin-right:5px;
	vertical-align:middle;
	margin-top:-3px;
}
.task-single-total-resume{
	float:right;
	width:80px;
	text-align:right;
}



/**  tasklist-edit 任务列表编辑 **/
.tasklist-single-edit{
	width:100%;
	border-top:1px solid #999;
	color:#666;
	font-size:15px;
	padding:10px 0;
}
.tasklist-single-edit-right{
	float:right;
	width:100px;
	text-align:right;
}
.tasklist-single-edit-left{
	float:left;
	width:100px;
	text-align:left;
}
.tasklist-single-edit-icon{
	width:20px;
	height:20px;
	margin-right:10px;
	vertical-align:middle;
	margin-top:-3px;
}




/* editinfo 完善/修改个人信息*/
.editinfo-bt{
	line-height:60px;
	text-align:center;
	font-size:22px;
}
.editinfo-input{
	width:395px;
	padding:10px 40px;
}
.editinfo-inputsingle{
	line-height:50px;
	border-bottom:1px solid #f2f2f2;
	font-size:18px;
}
.editinfo-inputsingle input{
	border:none; 
	line-height:30px;
	font-size:18px;
	padding-left:5px;
}
.editinfo-inputsingle textarea{
	width:100%;
	border:none;
	height:100px;
	font-size:17px;
	padding:7px;
}
.editinfo-skill{
	width:455px;
	padding:0 10px;
}
.editinfo-skill-bt{
	width:435px;
	padding:10px;
	font-size:20px;
}
.editinfo-skill-single{
	width:69px;
	height:69px;
	margin:10px;
	float:left;
	border:1px solid #ccc;
	border-radius:35px;
	-webkit-border-radius:35px;
	-moz-border-radius:35px;
	line-height:71px;
	white-space:nowrap;
	text-align:center;
}
.editinfo-skill-single.active{
	color:#fff;
	background-color:#E51C23;
}
.editinfo-submit{
	width:100%;
	text-align:center;
}
.editinfo-submit input{
	width:300px; 
	height:45px;
	background-color:#E51C23;
	color:#fff;
	font-size:18px;
	border:none;
	margin-top:30px;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
}
.editinfo-skill-tips{
	width:425px;
	padding:10px 15px;
	font-size:13px;
	line-height:20px;
	color:#333;
	text-align:left;
	border:1px solid #ccc;
}
.editinfo-skill-tips img{
	width:35px;
	height:35px;
	float:left;
	margin-right:5px;
}
.editinfo-logo{
	width:100%;
	text-align:center;
}
.editinfo-logo img{
	width:170px;
	margin-top:50px;
}







/* taskinfo 任务详情页面*/
.taskinfo-bt{
	line-height:60px;
	font-size:22px;
	width:440px;
	margin-left:35px;
	position:relative;
}
.taskinfo-bt-right{
	position:absolute;
	right:10px;
	font-size:16px;
}
.taskinfo-bt-right img{
	width:35px;
	height:25px;
	vertical-align:middle;
	margin-top:-5px;
}
.taskinfo-bt-right2{
	position:absolute;
	right:170px;
	font-size:17px;
}
.taskinfo-task{
	width:405px;
	margin:0 35px;
}
.taskinfo-task-bt{
	text-align:center;
	color:#f96306;
	font-size:20px;
	padding:20px 0 5px;
	font-weight:bold;
}
.taskinfo-tips{
	width:455px;
	padding:15px 10px;
}
.taskinfo-button-k{
	width:100%;
	margin-top:50px;
}
.taskinfo-button-k input{
	height:40px;
	width:100px;
	background-color:#f96306;
	color:#fff;
	font-size:17px;
	margin:20px 15px;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
}
.taskinfo-resume-bt{
	margin-top:100px;
	text-align:center;
	color:#f96306;
	width:100%;
	font-size:20px;
	font-weight:bold;
	line-height:60px;
}
.taskinfo-resume-bt-single{
	width:192.5px;
	margin-left:30px;
	float:left;
}
.taskinfo-resume-bt-single-active{
	border-bottom:3px solid #f96306;
	font-size:22px;
}
.taskinfo-resume-bt-single img{
	width:23px;
	height:23px;
	vertical-align:middle;
	margin-top:-5px;
	margin-right:5px;
}
.taskinfo-resumelist-right{
	float:right;
	width:80px;
	height:100px;
	display:flex;
	display: -webkit-flex; /* Safari */
	flex-direction:column;
	justify-content:center;
	text-align:center;
}
.taskinfo-resumelist-right input{
	width:100%;
	line-height:30px;
	color:#fff;
	margin:5px 0;
	background-color:#f96306;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.taskinfo-resumelist2{
	display:none;
}





/* person 个人中心页面 */
.person-head{
	width:100%;
	padding:10px 0;
}
.person-head-left{
	width:150px;
	text-align:center;
	float:left;
	padding-top:10px;
}
.person-head-left img{
	width:100px;
	height:100px;
	border-radius:50px;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	border:1px solid #ccc;
}
.person-head-right{
	width:320px;
	float:right;
	margin-top:10px;
}
.person-head-right-edit{
	text-align:right;
	margin-right:30px;
	margin-top:10px;
}
.person-message{
	width:23px;
	height:23px;
	margin-left:20px;
	vertical-align:middle;
}
.person-head-right img{
	width:23px;
	height:23px;
	vertical-align:middle;
	margin-top:-3px;
	margin-right:5px;
}
.person-head-right-up{
	margin-left:20px;
	font-size:15px;
}
.person-list{
	width:420px;
	padding:20px 27.5px;
}
.person-list-single{
	width:80px;
	margin:15px 10.5px;
	float:left;
	font-size:18px;
	color:#000;
	text-align:center;
	line-height:45px;
}
.person-list-single img{
	width:50px;
}
/**
.pop-box{
	width:100%;
	position:fixed;
	top:0;
	left:0;
	display:none;
}
.pop-zhezhao{
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0.5;
	filter:alpha(opacity=50);
}
.pop{
	width:325px;
	position:absolute;
	top:145px;
	left:75px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	background-color:#fff;
	text-align:center;
}
.pop h3{
	font-size:20px;	
}
.pop-tixianinput{
	width:200px;
	height:40px;
	line-height:40px;
	padding:0 8px;
	border:1px solid #ccc;
	font-size:17px;
}
.pop-button-k{
	margin-top:30px;
	border-top:1px solid #ccc;
	line-height:50px;
}
.pop-button1{
	width:162px;
	border-right:1px solid #ccc;
	float:left;
}
.pop-button2{
	width:162px;
	float:right;
}
**/




/**  userinfo_edit  **/
.userinfo-edit-tip{
	width:100%;
	text-align:center;
	margin-top:30px;
	color:red;
	font-size:15px;
}


/**  employer-info  企业主页  **/
.employer-info-bt{
	text-align:center;
	padding:35px 10px;
	font-size:23px;
	border-bottom:10px solid #f2f2f2;
}
.employer-info-logo{
	width:35px;
	height:35px;
	vertical-align:middle;
	margin-right:10px;
}
.employer-info-contact{
	padding:0 30px;
	border-bottom:10px solid #f2f2f2;
}
.employer-info-contact-single{
	padding:15px 0;
	border-bottom:1px solid #ccc;
}
.employer-info-resume{
	padding:10px 30px 20px;
	color:#666;
	border-bottom:10px solid #f2f2f2;
}
.employer-info-resume-bt{
	line-height:50px;
	border-bottom:1px solid #ccc;
	color:#f96306;
	font-size:18px;
	margin-bottom:20px;
	font-weight:bold;
}
.employer-info-job-bt{
	line-height:60px;
	border-bottom:1px solid #ccc;
	color:#f96306;
	font-size:18px;
	padding:0 30px;
	margin-bottom:20px;
	font-weight:bold;
}


/**  employer-info-edit  企业主页编辑  **/
.editinfo-upfile{
	width:90px;
	height:90px;
	border:1px solid #ccc;
	overflow:hidden;
	float:left;
	margin-right:6px;
	position:relative;
	background-image:url(../img/addimg.png);
	background-position:center;
	background-size:cover;
}
.editinfo-upfile-input{
	width:100%;
	height:100%;
	opacity:0;
	filter:alpha(opacity=0);
}
.editinfo-upfile-img{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#fff;
}







/* upgrade 账户升级页面 */
.up-single{
	width:405px;
	margin:30px 35px;
	line-height:40px;
}
.up-single-center{
	margin-left:70px;
}
.up-single input{
	width:100px;
	height:40px;
	background-color:#E51C23;
	color:#fff;
	float:right;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
}
.up-tips{
	width:423px;
	margin:40px 25px;
	padding:20px 0;
	text-align:center;
	border:1px solid #ccc;
}





/* releasetask 发布任务页面 */
.releasetask-number{
	width:70px;
	line-height:30px;
	height:30px;
	border-bottom:1px solid #ccc;
	text-align:center;
	font-size:17px;
}
.releasetask-text{
	width:300px;
	line-height:30px;
	height:30px;
	border-bottom:1px solid #ccc;
}
.releasetask-p{
	width:100%;
	margin-top:10px;
	clear:both;
}
.releasetask-p-bt{
	width:70px;
	float:left;
	font-size:17px;
	text-align:justify;
    text-align-last:justify;
}
.releasetask-text-short{
	width:293px;
}
.releasetask-textarea{
	width:370px;
	height:100px;
	margin-left:1px;
	font-size:17px;
	padding:7px;
}
.releasetask-employee{
	width:100%;
	margin-top:50px;
}
.vip-icon{
	width:23px;
	height:23px;
	vertical-align:middle;
	margin-top:-3px;
	margin-right:5px;
	margin-left:5px;
}
.releasetask-teltip{
	font-size:14px;
	color:#999;
	width:300px;
	margin-left:80px;
	text-align:center;
}
.releasetask-tip{
	font-size:14px;
	color:red;
	width:100%;
	text-align:center;
	margin-top:20px;
}




/* employee-info 雇员信息页面 */
.employee-info-nav2{
	width:415px;
	padding:15px 30px;
}





/**  success  成功页面 **/
.release-success-img{
	width:100%;
	text-align:center;
}
.release-success-img img{
	width:150px;
	margin:130px auto 70px;
}
.release-success-text{
	width:100%;
	text-align:center;
	color:green;
	font-weight:blod;
	font-size:25px;
	line-height:35px;
}
.release-fail-text{
	width:100%;
	text-align:center;
	color:#666;
	font-size:25px;
	font-weight:bold;
	line-height:35px;
}
.release-success-jump{
	font-size:21px;
}






/**  noticelist  通知列表  **/
.noticelist-single{
	width:425px;
	padding:10px 25px 15px;
	border-bottom:1px solid #ccc;
	line-height:25px;
	position:relative;
}
.noticelist-single-bt{
	font-size:20px;
	line-height:40px;
	margin-bottom:10px;
	color:#f96306;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.noticelist-single-state{
	float:right;
	color:#666;
	font-size:15px;
}
.noticelist-single-date{
	margin-top:15px;
	color:#666;
	font-size:15px;
}
.noticelist-single-type{
	margin-left:50px;
}
.noticelist-single-rightarrow{
	position:absolute;
	right:30px;
	bottom:17px;
}
.noticelist-single-rightarrow img{
	width:20px;
}





/**  noticeinfo  通知详情  **/
.noticeinfo-header{
	padding:0 25px;
	line-height:60px;
	font-size:20px;
}
.noticeinfo-header-right{
	float:right;
	color:#999;
	font-size:18px;
}
.noticeinfo-k{
	padding:10px 25px;
}
.noticeinfo-bt{
	font-size:20px;
	color:#f96306;
	line-height:60px;
	margin-bottom:20px;
	border-bottom:1px solid #000;
}
.noticeinfo-state{
	font-size:15px;
	color:#999;
	float:right;
}
.noticeinfo-button{
	margin:30px 0;
}




/**  resume  个人简历**/
.resume-k{
	padding:10px 25px;
}
.resume-head{
	padding:25px 30px 25px 0;
}
.resume-head-img{
	float:left;
	width:150px;
	text-align:center;
	line-height:30px;
}
.resume-head-img img{
	width:80px;
	height:80px;
	border:1px solid #ccc;
	border-radius:40px;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
}
.resume-head-name{
	font-size:21px;
	line-height:70px;
}
.resume-head-name input{
	background-color:f96306;
	padding:3px 10px;
	float:right;
	color:#fff;
	font-size:15px;
	margin-top:15px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}
.resume-head-age{
	margin:0 25px;
}
.resume-nav{
	padding:10px 25px 0;
	border-bottom:8px solid #f2f2f2;
}
.resume-nav-tel{
	padding:20px 0;
	border-bottom:1px solid #ccc;
}
.resume-nav-tel img{
	width:20px;
	vertical-align:middle;
	margin-top:-5px;
	margin-right:10px;
}
.resume-nav-tel-rightarrow{
	float:right;
	margin-top:6px;
}
.resume-nav-bt{
	line-height:50px;
	font-size:21px;
	border-bottom:1px solid #ccc;
	margin-bottom:15px;
	font-weight:bold;
	color:#f96306;
}
.resume-nav-bt2{
	font-weight:bold;
	margin-bottom:5px;
	line-height:30px;
	font-size:16px;
}
.resume-nav-text{
	color:#666;
	margin-bottom:25px;
}
.resume-infoedit-button-k{
	padding:20px 30px;
	text-align:right;
	border-bottom:10px solid #f2f2f2;
	color:#f96306;
}
.resume-infoedit-button-left{
	float:left;
	margin-top:-5px;
}
.resume-infoedit-button-k a{
	padding:5px 10px;
	line-height:20px;
	border:1px solid #f96306;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
}






/**  resume-edit  简历编辑  **/
.resume-edit-k-spanred span{
	color:red;
	float:right;
}
.resume-edit-k input,.resume-edit-k textarea,.resume-edit-k select{
	font-size:17px;
}
.resume-edit-head-right{
	width:280px;
	float:left;
}
input.resume-edit-input-name,select.resume-edit-input-name{
	width:200px;
	float:none;
	border:none;
	padding:0 5px;
	background:none;
	border-bottom:1px solid #666;
	margin-top:15px;
}
.resume-edit-input-sex{
	margin-top:15px;
}
.resume-edit-input-sex label{
	margin:0 15px;
}
input.resume-edit-input-tel{
	margin:0;
	width:300px;
}
.resume-edit-nav-single{
	padding-left:30px;
	margin-bottom:20px;
	position:relative;
}
.resume-edit-nav-single input{
	width:270px;
}
.resume-edit-textarea{
	margin-top:15px;
}
.resume-edit-textarea textarea{
	width:350px;
	height:100px;
	margin-top:10px;
	margin-left:8px;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
}
.resume-edit-nav-bt-right{
	float:right;
	font-size:15px;
	color:red;
	font-weight:normal;
}
.resume-edit-nav-single-icon{
	position:absolute;
	top:15px;
	left:0;
	width:20px;
	height:20px;
}
.resume-edit-nav-single-cancel{
	width:100%;
	text-align:right;
}
.resume-edit-nav-single-cancel input{
	background-color:#f96306;
	color:#fff;
	width:60px;
	margin-top:20px;
	line-height:25px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.resume-edit-textarea-self{
	width:390px;
	height:100px;
	margin-top:10px;
	margin-left:8px;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
}
.resume-edit-hide{
	display:none;
}
.resume-edit-open{
	width:405px;
	padding:15px 35px;
	font-size:19px;
	border-bottom:8px solid #f2f2f2;
}
.resume-edit-open-buttonk{
	width:70px;
	height:30px;
	border:1px solid #ccc;
	background-color:#f2f2f2;
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	float:right;
}
.resume-edit-open-button{
	width:40px;
	height:30px;
	background-color:#fff;
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	margin-left:30px;
}
.resume-edit-tips{
	text-align:center;
	color:#666;
	font-size:15px;
	margin:10px 0;
}







/** resumelist 简历列表 **/
.resumelist-single{
	width:415px;
	padding:10px 30px 0;
	border-bottom:1px solid #ccc;
}
.resumelist-single-name{
	line-height:40px;
	font-size:20px;
}
.resumelist-single-info{
	color:#999;
	line-height:25px;
	margin-bottom:10px;
}
.resumelist-single-name-icon{
	width:20px;
	height:20px;
	margin-left:10px;
	margin-top:-3px;
	vertical-align:middle;
}
.resumelist-single-rightarrow{
	width:30px;
	height:30px;
	float:right;
	margin-top:45px;
}
.resumelist-single-look{
	margin-bottom:10px;
	font-size:14px;
	color:#999;
}




/**  employer-prove  企业认证  **/
.employer-prove-k{
	padding:30px 0;
}
.employer-prove-addimg{
	width:150px;
	height:212px;
	border:1px solid #ccc;
	margin-left:5em;
	margin-top:15px;
}




/**  disclaimer   免责声明  **/
.disclaimer-bt{
	padding-top:20px;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	line-height:50px;
}
.disclaimer-content{
	padding:0 20px;
	font-size:15px;
}




/**  message  消息列表 **/
.message-single{
	padding:10px 25px;
	height:70px;
	border-bottom:1px solid #ccc;
}
.message-single-left{
	width:70px;
	float:left;
	margin-right:30px;
}
.message-single-left img{
	width:70px;
	height:70px;
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border:1px solid #ccc;
}
.message-single-right{
	width:320px;
	float:left;
	padding:10px 0;
}
.message-single-right-bt{
	font-size:20px;
	margin-bottom:7px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.message-single-right-text{
	font-size:15px;
	color:#666;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.message-list{
	display:none;
}





/**  notice 通知消息 **/
.notice-content{
	padding:30px;
}
.notice-content-task{
	margin-top:30px;
	border:1px solid #ccc;
	padding:7px 10px;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
}





/**  chat 私信消息  **/
.chat-bt{
	position:fixed;
	top:0;
	left:0;
	z-index:99;
	width:100%;
	background-color:#fff;
	text-align:center;
	line-height:55px;
	font-size:20px;
	font-weight:bold;
	border-bottom:1px solid #f2f2f2;
	box-shadow:0 10px 10px #ccc;
}
.chat-content{
	padding-bottom:10px;
	margin-top:60px;
	background-color:#f2f2f2;
	/*overflow:visible;*/
}
.chat-input{
	width:475px;
	position:fixed;
	bottom:0;
	left:0;
	background-color:#f2f2f2;
	padding:10px 0;
	text-align:center;
	box-shadow:0 -10px 10px #ccc;
}
.chat-input input{
	width:350px;
	height:40px;
	padding:0 5px;
	line-height:40px;
	font-size:17px;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
}
.chat-input-button{
	margin-left:10px;
	padding:8px 12px;
	background-color:#fff;
	color:#f96306;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
}
.chat-time{
	width:100%;
	text-align:center;
	font-size:16px;
	color:#333;
	padding:20px 0 10px;
}
.chat-content-left,.chat-content-right{
	width:360px;
	position:relative;
}
.chat-content-right{
	margin-left:115px;
}
.chat-content-head{
	width:50px;
	height:50px;
	border-radius:13px;
	-webkit-border-radius:13px;
	-moz-border-radius:13px;
	float:left;
	margin:0 15px;
}
.chat-content-text{
	max-width:260px;
	margin-top:10px;
	background-color:#fff;
	float:left;
	padding:5px 10px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	position:relative;
}
.chat-content-text-icon{
	width:10px;
	height:10px;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); 	/* IE 9 */
	-moz-transform:rotate(45deg); 	/* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg);
	position:absolute;
	left:-5px;
	top:10px;
	background-color:#fff;
}
.chat-content-status{
	position:absolute;
	bottom:0;
	right:-100px;
	width:95px;
	color:#999;
	font-size:15px;
	line-height:16px;
}
.chat-content-right .chat-content-head{
	float:right;
}
.chat-content-right .chat-content-text{
	float:right;
	background-color:#f96306;
	color:#fff;
}
.chat-content-right .chat-content-text-icon{
	right:-5px;
	left:auto;
	background-color:#f96306;
}
.chat-content-right .chat-content-status{
	left:-100px;
	right:auto;
	text-align:right;
}













