*{
	font-family:"微软雅黑";
}
body{
	margin:0;
	padding-bottom:69px;
	font-size:17px;
	background-color:#fff;
}
a{
	text-decoration:none;
	color:inherit;
}
input{
	padding:0;
	border:none;
}
.red{
	color:#E51C23;
}
.green{
	color:#13F20F;
}
.middleline8{
	width:100%; height:8px; background-color:#f2f2f2;
}
.middleline15{
	width:100%;
	height:15px;
	background-color:#f2f2f2;
}
.swiper-slide img{
	width:100%;
	height:100%;
}





/*    login  登录页面样式   */
.login-header{
	width:100%;
}
.login-header-single{
	width:150px;
	line-height:60px;
	float:left;
	text-align:center;
	margin:0 43.5px;
	font-size:19px;
	
}
.login-header-active{
	border-bottom:2px solid red;
	color:red;
	font-size:21px;
}
.login-signup{
	display:none;
}
.login-ul{
	margin:0;
	padding:0;
}
.login-ul li{
	width:405px;
	margin-left:35px;
	list-style:none;
	height:50px;
	border-bottom:2px solid #f2f2f2;
	line-height:50px;
}
.login-ul li input{
	height:45px;
	width:300px;
	font-size:17px;
	padding:0 10px;
	margin-left:10px;
}
.login-message{
	widtj:100%;
	text-align:center;
	color:red;
	margin-top:50px;
}
.login-codeimg{
	cursor:pointer;
	width:100px;
	float:right;
	margin-top:10px;
}


/* cover 封面样式 */






/* index 首页样式 */
.index-body{
	width:100%;
	height:100%;
	background-image:url(../img/index-bg.jpg);
	background-size:100%;
	background-position:center;
	display:flex;
	display: -webkit-flex; /* Safari */
	flex-direction:column;
	justify-content:center;
	text-align:center;
}
.index-button{
	width:200px;
	height:50px;
	line-height:50px;
	background-color:#E51C23;
	color:#fff;
	margin:0 auto 80px;
	border:none;
	font-size:20px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
.index-footer{
	position:absolute;
	bottom:10px;
	left:0;
	right:0;
}
.index-footer img{
	width:40%;
}
.index-task{
	padding:10px 0;
	background-color:#f7f7f7;
}
.index-task-bt{
	width:100%;
	text-align:center;
	color:red;
	font-size:21px;
	line-height:60px;
	font-weight:bold;
	text-decoration:underline;
}
.index-task-bt img{
	width:30px;
	vertical-align:middle;
	margin-top:-5px;
	margin-right:10px;
}
.index-task-k{
	width:415px;
	height:255px;
	margin-left:15px;
	margin-bottom:10px;
	background-color:#fff;
	box-shadow:0 1px 2px rgba(0,0,0,.3);
	padding:10px 15px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	overflow:hidden;
}
.index-task-k .swiper-slide{
	border-bottom:2px solid #f2f2f2;
	padding:5px 0;
}
.index-task-single-line{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	padding:3px 0;
}
.index-task-single-icon{
	width:18px;
	height:18px;
	float:left;
	color:#fff;
	text-align:center;
	font-size:12px;
	margin-right:10px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}
.index-task-single-icon img{
	width:18px;
	height:18px;
}
.bgorange{
	background-color:#ffa500;
}
.bgblue{
	background-color:#007aff;
}
.bgpink{
	background-color:#FFC0CB;
}
.bgred{
	background-color:red;
}
.index-task-single-address{
	font-size:14px;
	line-height:25px;
	color:#666;
}
.index-task-single-address img{
	width:15px;
	height:15px;
	margin-top:-5px;
	margin-right:5px;
	vertical-align:middle;
}
.index-task-li-right{
	float:right;
}
.index-dh-single{
	width:80px;
	height:35px;
	margin:10px 10.5px;
	border:1px solid #ccc;
	float:left;
	color:#fff;
	font-size:20px;
	background-color:#f96306;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	display:flex;
	display: -webkit-flex;
	flex-direction:column;
	justify-content:center;
	text-align:center;
}





/* task 任务页面样式 */
.task-filter{
	width:100%;
}
.task-filter ul{
	margin:0;
	padding:0;
	width:100%;
	line-height:50px;
}
.task-filter ul li{
	width:158px;
	float:left;
	text-align:center;
	list-style:none;
	border-bottom:10px solid #f2f2f2;
}
.task-filter ul li.center{
	width:155px;
	border-left:2px solid #f2f2f2;
	border-right:2px solid #f2f2f2;
}
.task-filter-select{
	width:80%;
	border:none;
	margin:0 10%;
}
.task-list{
	padding-top:60px;
}
.task-single{
	width:435px;
	height:100px;
	color:#000;
	border-bottom:5px solid #f2f2f2;
	padding:10px 20px 0;
}
.task-single-right{
	float:right;
	width:90px;
	height:100%;
	display:flex;
	display: -webkit-flex;
	flex-direction:column;
	justify-content:center;
	text-align:center;
}
.task-single-right-button{
	font-size:19px;
	color:#fff;
	padding:5px;
	background-color:#f96306;
	text-align:center;
	border-radius:10px; 
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
.task-single-right-remark{
	font-size:14px; margin-top:10px;
}
.task-single-right-remark img{
	width:20px; 
	vertical-align:middle; 
	margin:-3px 3px 0 0;
}
.task-single-textk{
	display:flex;
	display: -webkit-flex;
	flex-direction:column;
	justify-content:center;
	height:100%;
	padding:0 10px 0 5px;
}
.task-single-text{
	overflow:hidden;
	text-overflow: ellipsis;
    -webkit-line-clamp:3;
	display:-webkit-box;
    -webkit-box-orient: vertical;
}





/* editinfo 完善/修改个人信息*/
.editinfo-bt{
	line-height:60px;
	text-align:center;
	font-size:22px;
}
.editinfo-input{
	width:395px;
	padding:10px 40px;
}
.editinfo-inputsingle{
	line-height:50px;
	border-bottom:1px solid #f2f2f2;
	font-size:20px;
}
.editinfo-inputsingle input{
	border:none; 
	line-height:30px;
	font-size:18px;
	padding-left:5px;
}
.editinfo-inputsingle textarea{
	width:100%;
	border:none;
	height:100px;
	font-size:17px;
	padding:7px;
}
.editinfo-skill{
	width:455px;
	padding:0 10px;
}
.editinfo-skill-bt{
	width:435px;
	padding:10px;
	font-size:20px;
}
.editinfo-skill-single{
	width:69px;
	height:69px;
	margin:10px;
	float:left;
	border:1px solid #ccc;
	border-radius:35px;
	-webkit-border-radius:35px;
	-moz-border-radius:35px;
	line-height:71px;
	white-space:nowrap;
	text-align:center;
}
.editinfo-skill-single.active{
	color:#fff;
	background-color:#E51C23;
}
.editinfo-submit{
	width:100%;
	text-align:center;
}
.editinfo-submit input{
	width:300px; 
	height:45px;
	background-color:#E51C23;
	color:#fff;
	font-size:18px;
	border:none;
	margin-top:30px;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
}
.editinfo-skill-tips{
	width:425px;
	padding:10px 15px;
	font-size:13px;
	line-height:20px;
	color:#333;
	text-align:left;
	border:1px solid #ccc;
}
.editinfo-skill-tips img{
	width:35px;
	height:35px;
	float:left;
	margin-right:5px;
}
.editinfo-logo{
	width:100%;
	text-align:center;
}
.editinfo-logo img{
	width:170px;
	margin-top:50px;
}







/* taskinfo 任务详情页面*/
.taskinfo-bt{
	line-height:60px;
	font-size:22px;
	width:440px;
	margin-left:35px;
	position:relative;
}
.taskinfo-bt-right{
	position:absolute;
	right:10px;
	font-size:16px;
}
.taskinfo-bt-right img{
	width:35px;
	height:25px;
	vertical-align:middle;
	margin-top:-5px;
}
.taskinfo-bt-right2{
	position:absolute;
	right:170px;
	font-size:17px;
}
.taskinfo-task{
	width:435px;
	margin:0 20px;
	text-indent:2em;
}
input.taskinfo-task-contact{
	width:150px;
	height:35px;
	background-color:#f96306;
	color:#fff;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
}
.taskinfo-tips{
	width:455px;
	padding:15px 10px;
}






/* person 个人中心页面 */
.person-head{
	width:100%;
	padding:10px 0;
}
.person-head-left{
	width:150px;
	text-align:center;
	float:left;
	padding-top:10px;
}
.person-head-left img{
	width:100px;
	height:100px;
	border-radius:50px;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	border:1px solid #ccc;
}
.person-head-right{
	width:320px;
	float:right;
	margin-top:10px;
}
.person-head-right img{
	width:23px;
	height:23px;
	vertical-align:middle;
	margin-top:-3px;
	margin-right:5px;
}
.person-head-right-up{
	margin-left:20px;
	font-size:15px;
}
.person-list{
	width:420px;
	padding:20px 27.5px;
}
.person-list-single{
	width:100px;
	margin:10px 19px;
	float:left;
	font-size:18px;
	color:#000;
	text-align:center;
	line-height:45px;
}
.person-list-single img{
	width:50px;
}
.pop-box{
	width:100%;
	position:fixed;
	top:0;
	left:0;
	display:none;
}
.pop-zhezhao{
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0.5;
	filter:alpha(opacity=50);
}
.pop{
	width:325px;
	position:absolute;
	top:145px;
	left:75px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	background-color:#fff;
	text-align:center;
}
.pop h3{
	font-size:20px;	
}
.pop-tixianinput{
	width:200px;
	height:40px;
	line-height:40px;
	padding:0 8px;
	border:1px solid #ccc;
	font-size:17px;
}
.pop-button-k{
	margin-top:30px;
	border-top:1px solid #ccc;
	line-height:50px;
}
.pop-button1{
	width:162px;
	border-right:1px solid #ccc;
	float:left;
}
.pop-button2{
	width:162px;
	float:right;
}










/* upgrade 账户升级页面 */
.up-single{
	width:405px;
	margin:30px 35px;
	line-height:40px;
}
.up-single-center{
	margin-left:70px;
}
.up-single input{
	width:100px;
	height:40px;
	background-color:#E51C23;
	color:#fff;
	float:right;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
}
.up-tips{
	width:423px;
	margin:40px 25px;
	padding:20px 0;
	text-align:center;
	border:1px solid #ccc;
}





/* releasetask 发布任务页面 */
.releasetask-number{
	width:70px;
	line-height:30px;
	height:30px;
	border-bottom:1px solid #ccc;
	text-align:center;
	font-size:17px;
}
.releasetask-text{
	width:310px;
	line-height:30px;
	height:30px;
	border-bottom:1px solid #ccc;
}
.releasetask-text-short{
	width:293px;
}
.releasetask-textarea{
	width:370px;
	height:100px;
	margin-left:1px;
	font-size:17px;
	padding:7px;
}
.releasetask-employee{
	width:100%;
	margin-top:50px;
}
.vip-icon{
	width:23px;
	height:23px;
	vertical-align:middle;
	margin-top:-3px;
	margin-right:5px;
	margin-left:5px;
}
.releasetask-teltip{
	font-size:14px;
	color:#999;
	margin:-13px 0 -5px 40px;
	width:360px;
	text-align:center;
}





/* employee-info 雇员信息页面 */
.employee-info-nav2{
	width:415px;
	padding:15px 30px;
}





/**  success  成功页面 **/
.release-success-img{
	width:100%;
	text-align:center;
}
.release-success-img img{
	width:150px;
	margin:130px auto 70px;
}
.release-success-text{
	width:100%;
	text-align:center;
	color:green;
	font-weight:blod;
	font-size:25px;
	line-height:35px;
}
.release-fail-text{
	width:100%;
	text-align:center;
	color:#666;
	font-size:25px;
	font-weight:bold;
	line-height:35px;
}
.release-success-jump{
	font-size:21px;
}













