<!doctype>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>首页</title>
<link href="css/style.css" rel="stylesheet"/>

<script src="js/adaptive.js"></script>
</head>

<body>
	<div class="index-body">
        <input class="index-button" type="button" value="我要兼职">
        <input class="index-button" type="button" value="我是雇主">
        <footer class="index-footer">
        	<img src="img/logo.png">
        </footer>
    </div>
</body>
</html>
