<!doctype>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>最新兼职</title>
<link href="css/style.css" rel="stylesheet"/>

<script src="js/adaptive.js"></script><strong></strong>
</head>

<body>
	<div class="taskinfo-bt">
    	<div class="taskinfo-bt-right">
        	<img src="img/yongjingreen.png">已托管
        </div>
        具体需求
    </div>
    <div class="middleline8"></div>
    <div class="taskinfo-task">
    	<p>明天上午德邦物流需要三个装卸工，两车货，每人150元，来靠谱的，不想下力、嫌钱少的勿扰。</p>
        <p>需要：3人</p>
        <p>佣金：150元/人</p>
        <p>工时：1天</p>
        <p>电话：13100010001</p>
        <p>地址：商贸港三期5号楼201</p>
        <p>
        	<a href="tel:13100010001"><input class="taskinfo-task-contact" type="button" value="联系雇主"></a>
        </p>
    </div>
    <div class="taskinfo-tips">
    	<div class="editinfo-skill-tips">
        	<img src="img/tips.png">普通会员最多可申请3项兼职，且同一天兼职最多申请1项，申请后不可撤销，请谨慎申请合适的兼职！
        </div>
    </div>
    <div class="editinfo-submit">
    	<input type="button" value="申请兼职"> 
    </div>
    
	<div class="editinfo-logo">
    	<img src="img/logo.png">
    </div>
</body>
</html>
