<include file="Public/head"/>
<div class="task-filter">
	<ul>
<!--		<li>
			<select class="task-filter-select">
				<option>全部</option>
				<option>建筑</option>
				<option>维修</option>
				<option>普工</option>
				<option>木工</option>
				<option>司机</option>
				<option>园林绿化</option>
				<option>农活</option>
				<option>销售</option>
				<option>零活</option>
				<option>其他</option>
			</select>
		</li>-->
                <li>
                        <select class="task-filter-select" name="job_type">
				<option value="all">全部</option>
				<option value="全职">全职</option>
				<option value="兼职">兼职</option>
			</select>
                </li>
		<li class="center"><a href="/wap.php?s=/Job/index/istop=1">推荐兼职</a></li>
		<li><a href="/wap.php?s=/Job/index/isnew=1">最新兼职</a></li>
	</ul>
</div>
<div id="list" class="task-list">
            <volist name="list" id="vo">
		<a href="/wap.php?s=/Job/detail/jobId={$vo.id}">
		<div class="task-single">
			<div class="index-task-single-line">
				<span class="index-task-li-right">面议</span>
				{$vo.title}
			</div>
			<div class="index-task-single-line">
				<div class="index-task-single-icon"><img src="__IMG__/tong.png"></div>
				<div class="index-task-single-icon"><img src="__IMG__/prove.png"></div>
                                
                                <if condition="$vo['changqizhaopin'] eq '长期'">
                                    <div class="index-task-single-icon bgorange">长</div>
                                <elseif condition="$vo['chanqizhaopin'] eq '短期'" />
                                    <div class="index-task-single-icon bgorange">短</div>
                                </if>

                                <if condition="$vo.sexlimit eq '男'">
                                    <div class="index-task-single-icon bgblue">男</div>
                                <elseif condition="$vo.sexlimit eq '女'" />
                                    <div class="index-task-single-icon bgpink">女</div>
                                <else />

                                </if>
                                
			</div>
			<div class="index-task-single-line index-task-single-address">
				<img src="__IMG__/address.png">{$vo.content}
			</div>
		</div>
		</a>
            </volist>    
		
		
		
		<!--  button-right-task-list  -->
		<!--
        <div class="task-single">
            <div class="task-single-right">
                <a href="/wap.php?s=/Job/detail"><a href="/wap.php?s=/Job/detail"><div class="task-single-right-button">报名</div></a></a>
                <div class="task-single-right-remark green">
                    <img src="__IMG__/yongjingreen.png">已托管
                </div>
            </div>
            <div class="task-single-textk">
                <div class="task-single-text">
                    商贸港，9月26日上午需要三个兼职，具体需求详谈商贸港，9月26日上午需要三个兼职，具体需求详谈商贸港，9月26日上午需要三个兼职，具体需求详谈
                </div>
            </div>
        </div>
        -->
    </div>
    <div class="weui-loadmore">
      <i class="weui-loading"></i>
      <span class="weui-loadmore__tips">正在加载</span>
    </div>
    
    
    
    <script src="__JS__/jquery-weui.js"></script>
    <script src="__JS__/fastclick.js"></script>
	<script>
      $(function() {
        FastClick.attach(document.body);
      });
    </script>
	<script>
      var loading = false;
      $(document.body).infinite().on("infinite", function() {
        if(loading) return;
        loading = true;
        setTimeout(function() {
          $("#list").append('<div class="task-single">'+
								'<div class="task-single-right">'+
								'	<a href="/wap.php?s=/Job/detail"><div class="task-single-right-button">报名</div></a>'+
								'	<div class="task-single-right-remark green">'+
								'		<img src="__IMG__/yongjingreen.png">已托管'+
								'	</div>'+
								'</div>'+
								'<div class="task-single-textk">'+
								'	<div class="task-single-text">'+
								'		商贸港，9月26日上午需要三个兼职，具体需求详谈商贸港，9月26日上午需要三个兼职，具体需求详谈'+
								'	</div>'+
								'</div>'+
							'</div>');
          loading = false;
        }, 700);
      });
    </script>
    
<include file="Public/footer"/>