<include file="Public/head"/>
<div id="list">
        <div class="task-single">
            <div class="task-single-right">
                <a href="/wap.php?s=/Job/detail"><a href="/wap.php?s=/Job/detail"><div class="task-single-right-button">报名</div></a></a>
                <div class="task-single-right-remark green">
                    <img src="__IMG__/yongjingreen.png">已托管
                </div>
            </div>
            <div class="task-single-textk">
                <div class="task-single-text">
                    商贸港，9月26日上午需要三个兼职，具体需求详谈商贸港，9月26日上午需要三个兼职，具体需求详谈商贸港，9月26日上午需要三个兼职，具体需求详谈
                </div>
            </div>
        </div>
        <div class="task-single">
            <div class="task-single-right">
                <a href="/wap.php?s=/Job/detail"><div class="task-single-right-button">报名</div></a>
                <div class="task-single-right-remark red">
                    <img src="__IMG__/yongjinred.png">未托管
                </div>
            </div>
            <div class="task-single-textk">
                <div class="task-single-text">
                    商贸港，9月26日上午需要三个兼职，具体需求详谈
                </div>
            </div>
        </div>
        <div class="task-single">
            <div class="task-single-right">
                <a href="/wap.php?s=/Job/detail"><div class="task-single-right-button">报名</div></a>
                <div class="task-single-right-remark green">
                    <img src="__IMG__/yongjingreen.png">已托管
                </div>
            </div>
            <div class="task-single-textk">
                <div class="task-single-text">
                    商贸港，9月26日上午需要三个兼职，具体需求详谈商贸港，9月26日上午需要三个兼职，具体需求详谈
                </div>
            </div>
        </div>
        <div class="task-single">
            <div class="task-single-right">
                <a href="/wap.php?s=/Job/detail"><div class="task-single-right-button">报名</div></a>
                <div class="task-single-right-remark red">
                    <img src="__IMG__/yongjinred.png">未托管
                </div>
            </div>
            <div class="task-single-textk">
                <div class="task-single-text">
                    商贸港，9月26日上午需要三个兼职，具体需求详谈
                </div>
            </div>
        </div>
        <div class="task-single">
            <div class="task-single-right">
                <a href="/wap.php?s=/Job/detail"><div class="task-single-right-button">报名</div></a>
                <div class="task-single-right-remark green">
                    <img src="__IMG__/yongjingreen.png">已托管
                </div>
            </div>
            <div class="task-single-textk">
                <div class="task-single-text">
                    商贸港，9月26日上午需要三个兼职，具体需求详谈商贸港，9月26日上午需要三个兼职，具体需求详谈
                </div>
            </div>
        </div>
        <div class="task-single">
            <div class="task-single-right">
                <a href="/wap.php?s=/Job/detail"><div class="task-single-right-button">报名</div></a>
                <div class="task-single-right-remark red">
                    <img src="__IMG__/yongjinred.png">未托管
                </div>
            </div>
            <div class="task-single-textk">
                <div class="task-single-text">
                    商贸港，9月26日上午需要三个兼职，具体需求详谈
                </div>
            </div>
        </div>
        <div class="task-single">
            <div class="task-single-right">
                <a href="/wap.php?s=/Job/detail"><div class="task-single-right-button">报名</div></a>
                <div class="task-single-right-remark green">
                    <img src="__IMG__/yongjingreen.png">已托管
                </div>
            </div>
            <div class="task-single-textk">
                <div class="task-single-text">
                    商贸港，9月26日上午需要三个兼职，具体需求详谈商贸港，9月26日上午需要三个兼职，具体需求详谈
                </div>
            </div>
        </div>
        <div class="task-single">
            <div class="task-single-right">
                <a href="/wap.php?s=/Job/detail"><div class="task-single-right-button">报名</div></a>
                <div class="task-single-right-remark red">
                    <img src="__IMG__/yongjinred.png">未托管
                </div>
            </div>
            <div class="task-single-textk">
                <div class="task-single-text">
                    商贸港，9月26日上午需要三个兼职，具体需求详谈
                </div>
            </div>
        </div>
        <div class="task-single">
            <div class="task-single-right">
                <a href="/wap.php?s=/Job/detail"><div class="task-single-right-button">报名</div></a>
                <div class="task-single-right-remark green">
                    <img src="__IMG__/yongjingreen.png">已托管
                </div>
            </div>
            <div class="task-single-textk">
                <div class="task-single-text">
                    商贸港，9月26日上午需要三个兼职，具体需求详谈商贸港，9月26日上午需要三个兼职，具体需求详谈
                </div>
            </div>
        </div>
    </div>
    <div class="weui-loadmore">
      <i class="weui-loading"></i>
      <span class="weui-loadmore__tips">正在加载</span>
    </div>
    
    
    
    <script src="__JS__/jquery-weui.js"></script>
    <script src="__JS__/fastclick.js"></script>
	<script>
      $(function() {
        FastClick.attach(document.body);
      });
    </script>
	<script>
      var loading = false;
      $(document.body).infinite().on("infinite", function() {
        if(loading) return;
        loading = true;
        setTimeout(function() {
          $("#list").append('<div class="task-single">'+
								'<div class="task-single-right">'+
								'	<a href="/wap.php?s=/Job/detail"><div class="task-single-right-button">报名</div></a>'+
								'	<div class="task-single-right-remark green">'+
								'		<img src="__IMG__/yongjingreen.png">已托管'+
								'	</div>'+
								'</div>'+
								'<div class="task-single-textk">'+
								'	<div class="task-single-text">'+
								'		商贸港，9月26日上午需要三个兼职，具体需求详谈商贸港，9月26日上午需要三个兼职，具体需求详谈'+
								'	</div>'+
								'</div>'+
							'</div>');
          loading = false;
        }, 700);
      });
    </script>
    
<include file="Public/footer"/>