<style>
    a{color:#000;}
    .activetab{
        background: #f96306;
        color:#fff;
    }
    .activetab a{color:#fff;}
</style>
<include file="Public/head-home"/>
    <div class="taskinfo-bt" style="width:100%;margin-left:0px;">
        <div style="float:left;width:50%;text-align:center;" <if condition="$jobtype eq 'quanzhi'">class="activetab"</if>><a href="wap.php?s=/Job/pushjob/jobtype/quanzhi">招聘全职</a></div>
        <div style="float:left;width:50%;text-align:center;" <if condition="$jobtype eq 'jianzhi'">class="activetab"</if>><a href="wap.php?s=/Job/pushjob/jobtype/jianzhi">招聘兼职</a></div>
        <div style="clear:both;"></div>
    </div>
    <div class="middleline8"></div>
    <if condition="$jobtype eq 'jianzhi'">
        <form action="/wap.php?s=/Job/pushjob/" method="post">
            <div class="taskinfo-task" style="padding-top:15px;">
				<div class="releasetask-p">
					<div class="releasetask-p-bt">标题</div>：
					<input class="releasetask-text" type="text" placeholder="招工标题" name="title"/>
				</div>
				<div class="releasetask-p">
					<div class="releasetask-p-bt">公司</div>：
					<input class="releasetask-text" type="text" placeholder="公司名称" name="company"/>
				</div>
                <div class="releasetask-p">
					<div class="releasetask-p-bt">招聘人数</div>：
					<input class="releasetask-number" type="number" name="peoplenum">人
				</div>
                <div class="releasetask-p">
					<div class="releasetask-p-bt">佣金</div>：
					<input class="releasetask-number" type="number" name="commision1">元/人
				</div>
                <div class="releasetask-p">
					<div class="releasetask-p-bt">工时</div>：
					<input class="releasetask-number" type="number" name="workday">天
                    <!--<input class="releasetask-number" type="number" name>小时-->
                </div>
                <div class="releasetask-p">
					<div class="releasetask-p-bt">联系人1</div>：
					<input class="releasetask-text releasetask-text-short" type="text" name="contactname">
				</div>
                <div class="releasetask-p">
					<div class="releasetask-p-bt">联系电话</div>：
					<input id="tel" class="releasetask-text" type="tel" name="contactphone" value="{$userphone}">
				</div>
				<div class="releasetask-teltip teltip1">* 请填写有效的手机号或座机(区号-号码)</div>
                <div class="releasetask-p2">
					<div class="releasetask-p-bt">联系人2</div>：
					<input class="releasetask-text contact2" type="text" name="contactname2">
				</div>
                <div class="releasetask-p2">
					<div class="releasetask-p-bt">联系电话</div>：
					<input id="tel2" class="releasetask-text" type="tel" name="contactphone2" value="{$userphone}">
				</div>
				<div class="releasetask-teltip teltip2">* 请填写有效的手机号或座机(区号-号码)</div>
                <div class="releasetask-p">
					<div class="releasetask-p-bt">地址</div>：
					<input class="releasetask-text" type="text" name="workaddress">
				</div>
                <div class="releasetask-p">
					<div class="releasetask-p-bt">招聘需求</div>：
					<br>
					<textarea class="releasetask-textarea" placeholder="招工需求" style="margin-top:15px;" name="content"></textarea>
				</div>
            </div>
			<div class="releasetask-tip"></div>
            <div class="editinfo-submit">
                <input id="submit1" type="submit" value="发布需求"> 
            </div>
            <input type="hidden" name="jobtype" value="jianzhi" />
    <else />
        <form action="/wap.php?s=/Job/pushjob/" method="post">
            <div class="taskinfo-task" style="padding-top:15px;">
				<div class="releasetask-p">
					<div class="releasetask-p-bt">标题</div>：
					<input class="releasetask-text" type="text" placeholder="招工标题" name="title" />
				</div>
                <div class="releasetask-p">
					<div class="releasetask-p-bt">公司</div>：
					<input class="releasetask-text" type="text" placeholder="公司名称"  name="company"/>
				</div>
                <div class="releasetask-p">
					<div class="releasetask-p-bt">招聘人数</div>：
					<input class="releasetask-number" type="number" name="peoplenum">人
				</div>
                <div class="releasetask-p">
                	<label class="releasetask-pay-checkbox"><input type="checkbox" value="面议" name="commision3">面议</label>
					<div class="releasetask-p-bt">工资</div>
					<div class="releasetask-pay-meet">： 面议</div>
                    <div class="releasetask-pay">
                    	： <input class="releasetask-number paymin" type="number" name="commision1" placeholder="最低">~
                        <input class="releasetask-number" type="number" name="commision2" placeholder="最高">
                    </div>
				</div>
                <div class="releasetask-p">
					<div class="releasetask-p-bt">联系人1</div>：
					<input class="releasetask-text" type="text" name="contactname">
				</div>
                <div class="releasetask-p">
					<div class="releasetask-p-bt">联系电话</div>：
					<input id="tel" class="releasetask-text" type="tel" name="contactphone" value="{$userphone}">
				</div>
				<div class="releasetask-teltip teltip1">* 请填写有效的手机号或座机(区号-号码)</div>
				<div class="releasetask-p2">
					<div class="releasetask-p-bt">联系人2</div>：
					<input class="releasetask-text contact2" type="text" name="contactname2">
				</div>
                <div class="releasetask-p2">
					<div class="releasetask-p-bt">联系电话</div>：
					<input id="tel2" class="releasetask-text" type="tel" name="contactphone2" value="{$userphone}">
				</div>
				<div class="releasetask-teltip teltip2">* 请填写有效的手机号或座机(区号-号码)</div>
                <div class="releasetask-p">
					<div class="releasetask-p-bt">地址</div>：
					<input class="releasetask-text" type="text" name="workaddress">
				</div>
                <div class="releasetask-p">
					<div class="releasetask-p-bt">招聘需求</div>：<br>
					<textarea class="releasetask-textarea" placeholder="招聘需求" style="margin-top:20px;" name="content"></textarea>
				</div>
            </div>
			<div class="releasetask-tip"></div>
            <div class="editinfo-submit">
                <input id="submit2" type="submit" value="发布需求"> 
            </div>
            <input type="hidden" name="jobtype" value="quanzhi" />
        </form>    
    </if>
    <div class="taskinfo-tips">
    	<div class="editinfo-skill-tips">
        	<img src="__IMG__/tips.png">雇主您好，需求发布后需由工作人员审核后方能显示在招聘大厅，请保证需求的准确性。
        </div>
<!--        <p>
        	<input class="taskinfo-task-contact" type="button" value="托管佣金">
        </p>-->
    </div>
    
    
<include file="Public/footer"/>

<script>
	//工资
	$(".releasetask-pay-checkbox").click(function(){
		console.log($(this).children("input").get(0).checked == "true");
		if($(this).children("input").get(0).checked){
			$(this).css("background-position","bottom left");
			$(".releasetask-pay").hide();
			$(".releasetask-pay-meet").show();
		}else{
			$(this).css("background-position","top left");
			$(".releasetask-pay-meet").hide();
			$(".releasetask-pay").show();
		}
	})



	// 默认号码验证
	if($("#tel").val() != ''){
		$("#tel").parent(".releasetask-p").next("div.releasetask-teltip").css({"color":"green","border-color":"#ccc"}).text("* 号码验证通过");
	}
	
	
	//号码验证
	$("#tel,#tel2").blur(function(){
		var reg1 = /^1[3|4|5|7|8][0-9]{9}$/;  //匹配手机号  
		var reg2 = /^(0[1-9][0-9][1-9]*)*-?[1-9][0-9]{6,7}$/;   //匹配座机号(区号-号码)
		var telNumber = $(this).val();
		var result1 = reg1.test(telNumber);
		var result2 = reg2.test(telNumber);
		if(telNumber == ''){
			$(this).parent(".releasetask-p").next("div.releasetask-teltip").css({"color":"red","border-color":"red"}).text("* 请填写电话！");
		}else if(result1 == false && result2 == false){
			$(this).parent(".releasetask-p").next("div.releasetask-teltip").css({"color":"red","border-color":"red"}).text("* 请填写正确的号码！");
		}else if(result1 == true || result2 == true){
			$(this).parent(".releasetask-p").next("div.releasetask-teltip").css({"color":"green","border-color":"#ccc"}).text("* 号码验证通过");
		}
		
		//tel2
		if($(".contact2").val() != ''){
			if(telNumber == ''){
				$(this).parent(".releasetask-p2").next("div.releasetask-teltip").css({"color":"red","border-color":"red"}).text("* 请填写电话！");
			}else if(result1 == false && result2 == false){
				$(this).parent(".releasetask-p2").next("div.releasetask-teltip").css({"color":"red","border-color":"red"}).text("* 请填写正确的号码！");
			}else if(result1 == true || result2 == true){
				$(this).parent(".releasetask-p2").next("div.releasetask-teltip").css({"color":"green","border-color":"#ccc"}).text("* 号码验证通过");
			}
		}
		if($("#tel2").val() == ''){
			$(".teltip2").css("color","#ccc").text("* 请填写有效的手机号或座机(区号-号码)");
		}
	})
	
	
	//全职表单提交
	$("#submit2").click(function(){
		var allTip = '';
		//红色下标线提示
		$(".releasetask-p").children("input,textarea").each(function(){
			if($(this).val()==''){
				$(this).css("border-color","red");// border-red
				allTip = allTip + ' ' + $(this).siblings(".releasetask-p-bt").text();//
			}else{
				$(this).css("border-color","#ccc");
			}
        });	
		//工资
		if($(".releasetask-pay-checkbox").children("input").get(0).checked == false){
			if($(".paymin").val() == ''){
				allTip = allTip + " " + "工资";
				$(".paymin").css("border-color","red"); 	
			}else{
				$(".paymin").css("border-color","#ccc"); 	
			}
		}
		//联系电话提示
		if($("#tel").val() != ''){
			if($(".teltip1").css("color") == "rgb(255, 0, 0)"){
				allTip = allTip + " " + "联系电话";
			}else if($(".contact2").val() != ''){
				console.log();
				if($(".teltip2").css("color") == "rgb(255, 0, 0)" || $("#tel2").val() == '')	{
					allTip = allTip + " " + "联系电话";
				}
			}
		}
		
		if($("#tel2").val() != '' && $(".contact2").val() == ''){
			allTip = allTip + " " + "联系人2"; 	
		}
		
		
		if(allTip == ''){
			$(".releasetask-tip").text('');
			return 1;
		}else{
			$(".releasetask-tip").text('请填写' + allTip + '！');
			return false;
		}
	})
	
	//兼职表单提交
	$("#submit1").click(function(){
		var allTip = '';
		//红色下标线提示
		$(".releasetask-p").children("input,textarea").each(function(){
			if($(this).val()==''){
				$(this).css("border-color","red");// border-red
				allTip = allTip + ' ' + $(this).siblings(".releasetask-p-bt").text();//
			}else{
				$(this).css("border-color","#ccc");
			}
        });	
		//联系电话提示
		if($("#tel").val() != ''){
			if($(".teltip1").css("color") == "rgb(255, 0, 0)"){
				allTip = allTip + " " + "联系电话";
			}else if($(".contact2").val() != ''){
				if($(".teltip2").css("color") == "rgb(255, 0, 0)" || $("#tel2").val() == ''){
					allTip = allTip + " " + "联系电话";
				}
			}
		}
		
		if($("#tel2").val() != '' && $(".contact2").val() == ''){
			allTip = allTip + " " + "联系人2"; 	
		}
		
		
		if(allTip == ''){
			$(".releasetask-tip").text('');
			return 1;
		}else{
			$(".releasetask-tip").text('请填写' + allTip + '！');
			return false;
		}
	})
</script>
