<include file="Public/head-home"/>
    <div class="taskinfo-bt" style="width:100%;margin-left:0px;">
        <div style="float:left;width:50%;text-align:center;border-bottom:2px solid #f96306;color:#f96306;"><a href="wap.php?s=/Job/pushjob/jobtype=quanzhi">招聘全职</a></div>
        <div style="float:left;width:50%;text-align:center;border-bottom:2px solid #fff;"><a href="wap.php?s=/Job/pushjob/jobtype=jianzhi">招聘兼职</a></div>
        <div style="clear:both;"></div>
    </div>
    <div class="middleline8"></div>
    <div class="taskinfo-task">
    	<p><textarea class="releasetask-textarea" placeholder="招工需求"></textarea></p>
        <p>需要：<input class="releasetask-number" type="number">人</p>
        <p>佣金：<input class="releasetask-number" type="number">元/人</p>
        <p>工时：<input class="releasetask-number" type="number">天<input class="releasetask-number" type="number">小时</p>
        <p>电话：<input class="releasetask-text" type="tel"></p>
        <p>地址：<input class="releasetask-text" type="text"></p>
        <p>
        	<input class="taskinfo-task-contact" type="button" value="托管佣金">
        </p>
    </div>
    <div class="taskinfo-tips">
    	<div class="editinfo-skill-tips">
        	<img src="__IMG__/tips.png">雇主您好，需求发布请尽量把佣金托管，佣金托管后兼职人员会优先承接您的工作，为得到更好的服务，使雇佣双方权利都得到保障，请您发布需求的同时，托管佣金。
        </div>
    </div>
    <div class="editinfo-submit">
    	<input type="button" value="发布需求"> 
    </div>
    
    <div class="releasetask-employee">
    	<div class="taskinfo-bt">已申请兼职人员</div>
        <div class="middleline8"></div>
        
        <div class="task-single">
            <div class="task-single-right">
                <a href="employee-info"><div class="task-single-right-button">查看详情</div></a>
            </div>
            <div class="task-single-textk">
                <div class="task-single-text">
                    <b>王XX</b><img class="vip-icon" src="__IMG__/jin.png"><br>
                    本人从事搬运2年多了，希望老板给个机会。
                </div>
            </div>
        </div>
        <div class="task-single">
            <div class="task-single-right">
                <div class="task-single-right-button">查看详情</div>
            </div>
            <div class="task-single-textk">
                <div class="task-single-text">
                    <b>王XX</b><img class="vip-icon" src="__IMG__/jin.png"><br>
                    本人从事搬运2年多了，希望老板给个机会。
                </div>
            </div>
        </div>
        <div class="task-single">
            <div class="task-single-right">
                <div class="task-single-right-button">查看详情</div>
            </div>
            <div class="task-single-textk">
                <div class="task-single-text">
                    <b>王XX</b><img class="vip-icon" src="__IMG__/jin.png"><br>
                    本人从事搬运2年多了，希望老板给个机会。
                </div>
            </div>
        </div>
        
    </div>
<include file="Public/footer"/>