<include file="Public/head-home"/>
	<div class="middleline8"></div>
	<a href="/wap.php?s=/Resume/resume">
		<div class="resumelist-single">
			<img class="resumelist-single-rightarrow" src="__IMG__/rightarrow.png">
			<div class="resumelist-single-name">
				哼哼哈嘿<img class="resumelist-single-name-icon" src="__IMG__/tong.png">
			</div>
			<div class="resumelist-single-info">
				男 / 25岁 / 未婚 / 本科<br>
				求职意向：市场专员
			</div>
			<div class="resumelist-single-look">
				<div class="task-single-total-look">
					<img class="task-single-total-look-icon" src="__IMG__/look.png">10
				</div>
				<div class="task-single-total-look">
					<img class="task-single-total-look-icon" src="__IMG__/like.png">5
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
	</a>
	<a href="/wap.php?s=/Resume/resume">
		<div class="resumelist-single">
			<img class="resumelist-single-rightarrow" src="__IMG__/rightarrow.png">
			<div class="resumelist-single-name">
				哼哼哈嘿<img class="resumelist-single-name-icon" src="__IMG__/tong.png">
			</div>
			<div class="resumelist-single-info">
				男 / 25岁 / 未婚 / 本科<br>
				求职意向：市场专员
			</div>
			<div class="task-single-total">
				<div class="task-single-total-look">
					<img class="task-single-total-look-icon" src="__IMG__/look.png">10
				</div>
				<div class="task-single-total-look">
					<img class="task-single-total-look-icon" src="__IMG__/like.png">5
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
	</a>
	<a href="/wap.php?s=/Resume/resume">
		<div class="resumelist-single">
			<img class="resumelist-single-rightarrow" src="__IMG__/rightarrow.png">
			<div class="resumelist-single-name">
				哼哼哈嘿<img class="resumelist-single-name-icon" src="__IMG__/tong.png">
			</div>
			<div class="resumelist-single-info">
				男 / 25岁 / 未婚 / 本科<br>
				求职意向：市场专员
			</div>
			<div class="task-single-total">
				<div class="task-single-total-look">
					<img class="task-single-total-look-icon" src="__IMG__/look.png">10
				</div>
				<div class="task-single-total-look">
					<img class="task-single-total-look-icon" src="__IMG__/like.png">5
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
	</a>
<include file="Public/footer"/>

