<include file="Public/head-home"/>
	<div class="resume-infoedit-button-k">
		<a href="/wap.php?s=/Resume/edit">
			编辑简历
		</a>
	</div>
	<div class="resume-head">
		<div class="resume-head-img">
			<img src="__IMG__/head.jpg">
		</div>
		<div class="resume-head-right">
			<div class="resume-head-name">
				<input type="button" value="+ 收藏">
				哼哼哈嘿
			</div>
			男<span class="resume-head-age">25岁 | 未婚</span>本科
		</div>
	</div>
	<div class="middleline8"></div>
	<div class="resume-nav">
		<a href="tel:15245236542">
			<div class="resume-nav-tel">
				<div class="resume-nav-tel-rightarrow">
					<img src="__IMG__/rightarrow.png">
				</div>
				<img src="__IMG__/tel.png"><b>手机：</b>15245236542
			</div>
		</a>
		<div class="resume-nav-tel">
			<img src="__IMG__/email.png"><b>邮箱：</b>email@qq.com
		</div>
		<div class="resume-nav-tel">
			<img src="__IMG__/address.png"><b>地址：</b>禹城市职教中心创新创业大厦
		</div>
	</div>
	<div class="resume-nav">
		<div class="resume-nav-tel">
			<b>求职意向：</b>市场专员
		</div>
		<div class="resume-nav-tel">
			<b>期望薪资：</b>3000左右
		</div>
	</div>
	<div class="resume-nav">
		<div class="resume-nav-bt">工作经历</div>
		<div class="resume-nav-single">
			<div class="resume-nav-bt2">
				2016.12-2017.12<br>禹城智达电子商务有限公司
			</div>
			<div class="resume-nav-text">	
				工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容
			</div>
		</div>
		<div class="resume-nav-single">
			<div class="resume-nav-bt2">
				2016.12-2017.12<br>禹城智达电子商务有限公司
			</div>
			<div class="resume-nav-text">	
				工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容
			</div>
		</div>
	</div>
	<div class="resume-nav">
		<div class="resume-nav-bt">教育经历</div>
		<div class="resume-nav-single">
			<div class="resume-nav-bt2">
				2013.9-2017.6<br>山东大学
			</div>
			<div class="resume-nav-text">	
				专业技能
			</div>
		</div>
	</div>
	<div class="resume-nav">
		<div class="resume-nav-bt">技能特长</div>
		<div class="resume-nav-text">	
			技能特长
		</div>
	</div>
	<div class="resume-nav">
		<div class="resume-nav-bt">自我评价</div>
		<div class="resume-nav-text">	
			自我评价自我评价自我评价自我评价自我评价自我评价自我评价
		</div>
	</div>
	

<include file="Public/footer"/>

