<include file="Public/head-home"/>
	<div class="middleline8"></div>
    <a href="/wap.php?s=/Notice/noticeinfo">
		<div class="noticelist-single">
			<div class="noticelist-single-bt">
				<div class="noticelist-single-state">已读</div>
				<b>系统通知</b>
			</div >
			您有一份简历待查收！<br>
			<div class="noticelist-single-date">2017-12-18</div>
			<div class="noticelist-single-rightarrow">
				<img src="__IMG__/rightarrow.png">
			</div>
		</div>
    </a>
	<a href="/wap.php?s=/Notice/noticeinfo">
		<div class="noticelist-single">
			<div class="noticelist-single-bt">
				<div class="noticelist-single-state">已读</div>
				<b>系统通知</b>
			</div >
			您有一份简历待查收！<br>
			<div class="noticelist-single-date">2017-12-18</div>
			<div class="noticelist-single-rightarrow">
				<img src="__IMG__/rightarrow.png">
			</div>
		</div>
    </a>
	<a href="/wap.php?s=/Notice/noticeinfo">
		<div class="noticelist-single">
			<div class="noticelist-single-bt">
				<div class="noticelist-single-state">已读</div>
				<b>系统通知</b>
			</div >
			您有一份简历待查收！<br>
			<div class="noticelist-single-date">2017-12-18</div>
			<div class="noticelist-single-rightarrow">
				<img src="__IMG__/rightarrow.png">
			</div>
		</div>
    </a>
<include file="Public/footer"/>

