<include file="Public/head-home"/>
	<div class="middleline8"></div>
    <a href="/wap.php?s=/Notice/noticeinfo">
		<div class="noticelist-single">
			<div class="noticelist-single-bt">市场专员</div >
			您有一份简历待查收！<br>
			时间：2017-12-18<br>
			状态：已读
			<span class="noticelist-single-type">类型：系统通知</span>
			<div class="noticelist-single-rightarrow">
				<img src="__IMG__/rightarrow.png">
			</div>
		</div>
    </a>
	<a href="/wap.php?s=/Notice/noticeinfo">
		<div class="noticelist-single">
			<div class="noticelist-single-bt">市场专员</div >
			您有一份简历待查收！<br>
			时间：2017-12-18<br>
			状态：已读
			<span class="noticelist-single-type">类型：系统通知</span>
			<div class="noticelist-single-rightarrow">
				<img src="__IMG__/rightarrow.png">
			</div>
		</div>
    </a>
	<a href="/wap.php?s=/Notice/noticeinfo">
		<div class="noticelist-single">
			<div class="noticelist-single-bt">市场专员</div >
			您有一份简历待查收！<br>
			时间：2017-12-18<br>
			状态：已读
			<span class="noticelist-single-type">类型：系统通知</span>
			<div class="noticelist-single-rightarrow">
				<img src="__IMG__/rightarrow.png">
			</div>
		</div>
    </a>
<include file="Public/footer"/>

