<include file="Public/head-home"/>
	<div class="noticeinfo-header">
		<div class="noticeinfo-header-right">2017-12-18</div>
		系统消息
	</div>
	<div class="middleline8"></div>
	<div class="noticeinfo-k">
		<div class="noticeinfo-bt">
			<div class="noticeinfo-state">已读</div>
			市场专员
		</div>
		有人向您发布的该职位投递了一份简历，看看是不是您正在寻找的人才~<br>
		<a href="/wap.php?s=/Resume/resume">
			<input class="taskinfo-task-contact noticeinfo-button" style="font-size: 1em;" type="button" value="查看简历">
		</a>
		
		
	</div>
<include file="Public/footer"/>

