		<!--
		<div class="editinfo-logo">
			<img src="__IMG__/logo.png">
		</div>
		-->
		<style>
		.nav {
    background: #b6090f;
    padding: 10px 0 6px 0;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
	z-index:99;
}
.nav ul {
	padding:0px;
	margin-top:0px;
}
.nav ul li {
    float: left;
    width: 25%;
    text-align: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.nav ul li span {
    display: block;
    color: #fff;
    font-size: 14px;
    font-family: "微软雅黑";
    line-height: 22px;
}
.nav a {
    color: #000;
    text-decoration: none;
}

		</style>
		<div class="nav">
            <ul>
				<li>
                    <a href="/wap.php?s=/Index/index.html"><span><img src="__IMG__/home.png" height="32"></span><span>首页</span></a>
                </li>
                <li style="position:relative;">
                    <a href="/wap.php?s=/Job/index"><span><img src="__IMG__/list.png" height="32"></span><span>找工作</span></a>
                </li>
                <li style="position:relative;">
                    <a href="/wap.php?s=/Job/pushjob"><span><img src="__IMG__/edit.png" height="32"></span><span>发布信息</span></a>
                </li>
                <li>
                    <a href="/wap.php?s=/User/center"><span><img src="__IMG__/friend_famous.png" height="32"></span><span>个人中心</span></a>
                </li>
            </ul>
        </div>
		
	</body>
</html>