<include file="Public/head-home"/>
	<div class="chat-bt">
		哼哼哈嘿
	</div>
	<div class="chat-content">
		<div class="chat-time">12-28 12:30</div>
		<div class="chat-content-left">
			<img src="__IMG__/head.jpg" class="chat-content-head">
			<div class="chat-content-text">
				<div class="chat-content-text-icon"></div>
				<div class="chat-content-status">未读</div>
				哼哼哈嘿，给你发消息了，怎么了呢
			</div>
			<div style="clear:both;"></div>
		</div>
		<div class="chat-time">12-28 12:30</div>
		<div class="chat-content-right">
			<img src="__IMG__/head.jpg" class="chat-content-head">
			<div class="chat-content-text">
				<div class="chat-content-text-icon"></div>
				<div class="chat-content-status">
					已读<br>
					12-28 15:20
				</div>
				哼哼哈嘿，给你发消息了
			</div>
			
			<div style="clear:both;"></div>
		</div>
		<div class="chat-time">12-28 12:30</div>
		<div class="chat-content-left">
			<img src="__IMG__/head.jpg" class="chat-content-head">
			<div class="chat-content-text">
				<div class="chat-content-text-icon"></div>
				<div class="chat-content-status">未读</div>
				哼哼哈嘿，给你发消息了，怎么了呢
			</div>
			<div style="clear:both;"></div>
		</div>
		<div class="chat-time">12-28 12:30</div>
		<div class="chat-content-right">
			<img src="__IMG__/head.jpg" class="chat-content-head">
			<div class="chat-content-text">
				<div class="chat-content-text-icon"></div>
				<div class="chat-content-status">
					已读<br>
					12-28 15:20
				</div>
				哼哼哈嘿，给你发消息了
			</div>
			
			<div style="clear:both;"></div>
		</div>
		<div class="chat-time">12-28 12:30</div>
		<div class="chat-content-left">
			<img src="__IMG__/head.jpg" class="chat-content-head">
			<div class="chat-content-text">
				<div class="chat-content-text-icon"></div>
				<div class="chat-content-status">未读</div>
				哼哼哈嘿，给你发消息了，怎么了呢
			</div>
			<div style="clear:both;"></div>
		</div>
		<div class="chat-time">12-28 12:30</div>
		<div class="chat-content-right">
			<img src="__IMG__/head.jpg" class="chat-content-head">
			<div class="chat-content-text">
				<div class="chat-content-text-icon"></div>
				<div class="chat-content-status">
					已读<br>
					12-28 15:20
				</div>
				哼哼哈嘿，给你发消息了
			</div>
			
			<div style="clear:both;"></div>
		</div>
		<div class="chat-time">12-28 12:30</div>
		<div class="chat-content-left">
			<img src="__IMG__/head.jpg" class="chat-content-head">
			<div class="chat-content-text">
				<div class="chat-content-text-icon"></div>
				<div class="chat-content-status">未读</div>
				哼哼哈嘿，给你发消息了，怎么了呢
			</div>
			<div style="clear:both;"></div>
		</div>
		<div class="chat-time">12-28 12:30</div>
		<div class="chat-content-right">
			<img src="__IMG__/head.jpg" class="chat-content-head">
			<div class="chat-content-text">
				<div class="chat-content-text-icon"></div>
				<div class="chat-content-status">
					已读<br>
					12-28 15:20
				</div>
				哼哼哈嘿，给你发消息了
			</div>
			
			<div style="clear:both;"></div>
		</div>
	</div>
	<div  class="chat-input">
		<input type="text">
		<span class="chat-input-button">发送</span>
	</div>
	

	<script>
		$(document).ready(function(){
			$('body').scrollTop(Number($('body').height()));
		})
	</script>
	
</body>
</html>


