<include file="Public/head-home"/>
	<div class="task-filter">
		<ul>
			<li class="task-filter-active">私信</li>
			<li class="center">通知</li>
			<li>公告</li>
		</ul>
	</div>
	<div class="message-list">
		<a href="/wap.php?s=/Message/mchat">
			<div class="message-single">
				<div class="message-single-left">
					<img src="__IMG__/head.jpg">
				</div>
				<div class="message-single-right">
					<div class="message-single-right-bt">
						嘿嘿哈哼
					</div>
					<div class="message-single-right-text">			
						哈哈哈哈，我给你发消息啦，亲爱的，你在干嘛呀
					</div>
				</div>
			</div>
		</a>
		<a href="/wap.php?s=/Message/mchat">
			<div class="message-single">
				<div class="message-single-left">
					<img src="__IMG__/head.jpg">
				</div>
				<div class="message-single-right">
					<div class="message-single-right-bt">
						嘿嘿哈哼
					</div>
					<div class="message-single-right-text">			
						哈哈哈哈，我给你发消息啦，亲爱的，你在干嘛呀
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class="message-list">
		<a href="/wap.php?s=/Message/mnotice">
			<div class="message-single">
				<div class="message-single-left">
					<img src="__IMG__/notice.png">
				</div>
				<div class="message-single-right">
					<div class="message-single-right-bt">
						通知
					</div>
					<div class="message-single-right-text">			
						您收到一分面试邀请，请注意查收~祝您找到一个心仪的工作~
					</div>
				</div>
			</div>
		</a>
		<a href="/wap.php?s=/Message/mnotice">
			<div class="message-single">
				<div class="message-single-left">
					<img src="__IMG__/notice.png">
				</div>
				<div class="message-single-right">
					<div class="message-single-right-bt">
						通知
					</div>
					<div class="message-single-right-text">			
						您收到一份面试邀请，请注意查收~
					</div>
				</div>
			</div>
		</a>
		
	</div>
	<div class="message-list">
		<a href="/wap.php?s=/Message/mpublic">
			<div class="message-single">
				<div class="message-single-left">
					<img src="__IMG__/public.png">
				</div>
				<div class="message-single-right">
					<div class="message-single-right-bt">
						公告
					</div>
					<div class="message-single-right-text">			
						欢迎加入禹城招聘平台，请阅读平台《免责声明》。
					</div>
				</div>
			</div>
		</a>
		<a href="/wap.php?s=/Message/mpublic">
			<div class="message-single">
				<div class="message-single-left">
					<img src="__IMG__/public.png">
				</div>
				<div class="message-single-right">
					<div class="message-single-right-bt">
						公告
					</div>
					<div class="message-single-right-text">			
						欢迎加入禹城招聘平台，请阅读平台《免责声明》。
					</div>
				</div>
			</div>
		</a>
		
	</div>




<include file="Public/footer"/>
<script>
	var ili = $("li.task-filter-active").index();
	$(".message-list")[ili].style.display = "block";
	
	$(".task-filter ul li").click(function(){
		$(this).addClass("task-filter-active");
		$(this).siblings("li").removeClass("task-filter-active");
		$(".message-list").hide();
		ili = $("li.task-filter-active").index();
		$(".message-list")[ili].style.display = "block";
		
	})

</script>

