<include file="Public/head-home"/>
	<div class="task-filter">
		<ul>
			<li>私信</li>
			<li class="center">通知</li>
			<li>公告</li>
		</ul>
	</div>
	<div class="message-list">
	
		<volist name="usermsglist" id="u">
		<a href="/wap.php?s=/Message/mchat/uid/{$u.uid}">
			<div class="message-single">
				<div class="message-single-left">
					<if condition="$u.uavatar neq ''">
					<img src="{$u.uavatar}">
					<else />
					<img src="__IMG__/head.jpg">
					</if>
				</div>
				<div class="message-single-right">
					<div class="message-single-right-bt">
						<div class="message-single-time">{$u.lastsendtime}</div>
						{$u.uname}
						
					</div>
					<div class="message-single-right-text">			
						<if condition="$u.fromid eq $u.uid and $u.lastlooktime eq ''">	
								<div class="message-single-nolook"></div>
						</if>
						{$u.lastmsg}
					</div>
				</div>
			</div>
		</a>
		</volist>
		
	</div>
	<div class="message-list">
		<a href="/wap.php?s=/Message/mnotice">
			<div class="message-single">
				<div class="message-single-left">
					<img src="__IMG__/notice.png">
				</div>
				<div class="message-single-right">
					<div class="message-single-right-bt">
						通知
					</div>
					<div class="message-single-right-text">			
						您收到一分面试邀请，请注意查收~祝您找到一个心仪的工作~
					</div>
				</div>
			</div>
		</a>
		<a href="/wap.php?s=/Message/mnotice">
			<div class="message-single">
				<div class="message-single-left">
					<img src="__IMG__/notice.png">
				</div>
				<div class="message-single-right">
					<div class="message-single-right-bt">
						通知
					</div>
					<div class="message-single-right-text">			
						您收到一份面试邀请，请注意查收~
					</div>
				</div>
			</div>
		</a>
		
	</div>
	<div class="message-list">
		<volist name="publiclist" id="p">
			<a href="/wap.php?s=/Message/mpublic/pid/{$p.id}">
				<div class="message-single">
					<div class="message-single-left">
						<img src="__IMG__/public.png">
					</div>
					<div class="message-single-right">
						<div class="message-single-right-bt">
							<div class="message-single-time">{$p.sendtime}</div>
							公告
						</div>
						<div class="message-single-right-text">			
							{$p.msg}
						</div>
					</div>
				</div>
			</a>
		</volist>
		
	</div>




<include file="Public/footer"/>
<script>
	
	var ili = "{$type}";
	//$(".task-filter ul li")[ili].className = "task-filter-active";
	$(".task-filter ul li").eq(ili).addClass("task-filter-active");
	$(".message-list").eq(ili).css("display","block");

	
	$(".task-filter ul li").click(function(){
		ili = $(this).index();
		window.location.search = "s=/Message/mlist/type/"+ili;
	})

</script>

