<include file="Public/head-home"/>
	
	<div class="taskinfo-task employer-prove-k">
		<p>企业名称：<input class="releasetask-text" type="text" placeholder="企业名称" name="companyname"/></p>
		<p>企业法人：<input class="releasetask-text" type="text" name="contactname"></p>
		<p>联系电话：<input class="releasetask-text" type="tel" name="contactphone"></p>
		<p>上传企业营业执照：<br>
			<img class="employer-prove-addimg" src="__IMG__/addimg.png">
		</p>

	</div>
	<div class="editinfo-submit">
		<input id="submit1" type="submit" value="提交认证"> 
	</div>

    
<include file="Public/footer"/>
