<include file="Public/head"/>
	<div class="person-head">
    	<div class="person-head-left">
        	<img src="__IMG__/head.jpg">
            <p>王XX</p>
        </div>
        <div class="person-head-right">
        	<p><img src="__IMG__/tong.png">铜牌会员 <a href="/wap.php?s=/User/user_upgrade" class="person-head-right-up">升级账户</a></p>
            <p>佣金：1000 元</p>
            <p>信用积分：100</p>
            <p>上次登录时间：2017-09-23 12:30</p>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div class="middleline8"></div>
    
    <div class="person-list">
    	<a href="history.html"><div class="person-list-single">我的<br>招工记录</div></a>
        <a href="task.html"><div class="person-list-single">发布<br>招人信息</div></a>
        <a href="editinfo.html"><div class="person-list-single">修改<br>个人信息</div></a>
        <a href="taskstates-success.html"><div class="person-list-single">待选<br>兼职人员</div></a>
        <a href="task.html"><div class="person-list-single">验收工作</div></a>
        <a href="weiquan.html"><div class="person-list-single">纠纷/维权</div></a>
        <div style="clear:both;"></div>
    </div>
    <div class="taskinfo-tips">
    	<div class="editinfo-skill-tips">
        	<img src="__IMG__/tips.png">雇主您好，需求发布请尽量把佣金托管到平台，佣金托管后兼职人员会有限承接您的工作，未得到更好的服务，使雇佣双方权利都得到保障，请您发布需求的同时，托管佣金。
        </div>
    </div>
    

<include file="Public/footer"/>