<include file="Public/head-home"/>
	<div class="login-header">
		<div class="login-header-single login-header-active">登录</div>
		<div class="login-header-single">注册</div>
		<div style="clear:both;"></div>
	</div>
    <div class="middleline15"></div>
    
    <div class="login-login">
        <form action="#" method="post" id="loginform">
            <ul class="login-ul">
                <li>手&nbsp;&nbsp;&nbsp;机：<input id="tel1" type="tel" name="username" placeholder="请输入手机号" maxlength="11" value="15253179513"></li>
                <li>密&nbsp;&nbsp;&nbsp;码：<input id="pw1" type="password" name="password" placeholder="请输入密码" value="123456"></li>
                <li>验证码：<input type="text" id="inputPassword" class="span3" placeholder="请输入验证码"  errormsg="请填写5位验证码" nullmsg="请填写验证码" datatype="*5-5" name="verify" style="width:50%;">
                <img class="verifyimg reloadverify login-codeimg" alt="点击切换" src="{:U('verify')}">
                </li>
            </ul>
            
           
            <div class="editinfo-submit">
                <input id="login" type="button" value="登录"> 
            </div>
        </form>
    </div>
    
    <div class="login-signup">
        <form action="/wap.php?s=/User/register" method="post" id="regform">
            <ul class="login-ul">
                <li>手 机：<input id="tel2" type="tel" name="username" placeholder="请输入手机号" maxlength="11" value="15253179513"></li>
                <li>密 码：<input id="pw2" type="password" name="password" placeholder="请输入6位以上密码" value="123456"></li>
                <li>确 认：<input id="pw22" type="password" name="repassword" placeholder="请确认密码" value="123456"></li>
                <li>验证码：<input type="text" id="inputPassword" class="span3" placeholder="请输入验证码"  errormsg="请填写5位验证码" nullmsg="请填写验证码" datatype="*5-5" name="verify" style="width:50%;">
                <img class="verifyimg reloadverify login-codeimg" alt="点击切换" src="{:U('verify')}">
                </li>
            </ul>
            <div class="editinfo-submit">
                <input id="signup" type="button" value="注册"> 
            </div>
        </form>
    </div>
    <div class="login-message"></div>


<script>
	$(".login-header-single").click(function(){
		$(this).addClass("login-header-active");
		$(this).siblings(".login-header-single").removeClass("login-header-active");
		var i = $(this).index();
		if(i==0){
			$(".login-login").show();
			$(".login-signup").hide();	
		}else if(i==1){
			$(".login-login").hide();
			$(".login-signup").show();		
		}
	})
	
	//登录页提示
	$("#login").click(function(){
		if($("#tel1").val().length == 11){
			if($("#pw1").val().length >= 6){	
				//登录信息填写正确
				$(".login-message").text("");	
                                $('#loginform').submit();
			}else if($("#pw1").val() == ''){
				$(".login-message").text("请输入密码！");
                                return false;
			}else{
				$(".login-message").text("密码不足6位！");
                                return false;
			}
		}else if($("#tel1").val() == ''){
			$(".login-message").text("请输入手机号！");	
                        return false;
		}else{
			$(".login-message").text("手机号不足11位！");
                        return false;
		}
                
	})
	
	//注册页提示
	$("#signup").click(function(){
		if($("#tel2").val().length == 11){
			if($("#pw2").val().length >= 6){
				if($("#pw22").val() == $("#pw2").val()){
					//注册信息填写正确
					$(".login-message").text("");	
                                        $('#regform').submit();
				}else if($("#pw22").val() == ''){
					$(".login-message").text("请确认密码！");
                                        return false;
				}else{
					$(".login-message").text("两次密码输入不一致，请确认！");	
                                        return false;
				}	
			}else if($("#pw2").val() == ''){
				$(".login-message").text("请输入密码！");
                                return false;
			}else{
				$(".login-message").text("密码不足6位！");
                                return false;
			}
		}else if($("#tel2").val() == ''){
			$(".login-message").text("请输入手机号！");	
                        return false;
		}else{
			$(".login-message").text("手机号不足11位！");
                        return false;
		}	
	})
	
		$(function(){
			var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify").click(function(){
                if( verifyimg.indexOf('?')>0){
                    $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
                }else{
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
                }
            });
		});
	
</script>

</body>
</html>













