<include file="Public/head-home"/>
	<div class="person-head">
    	<div class="person-head-left">
        	<img src="__IMG__/head.jpg">
                <p>
				<?=substr_replace($userinfo['username'],'*****',3,5); ?><br>
                                <if condition="$userinfo['type'] eq 'user'">
                                    <a href="/wap.php?s=/User/user_info">微名片</a>
                                <elseif condition="$userinfo['type'] eq 'company'" />
                                    <a href="/wap.php?s=/User/company_info">公司名片</a>
                                </if><br>
                                <if condition="$userinfo['type'] eq 'user'">
                                    <a href="/wap.php?s=/User/user_info_edit/usertype/user">设置</a>
                                <elseif condition="$userinfo['type'] eq 'company'" />
                                    <a href="/wap.php?s=/User/user_info_edit/usertype/company">设置</a>
                                </if>
                                
                </p>
        </div>
        <div class="person-head-right">
        	<p><img src="__IMG__/tong.png">铜牌会员 <a href="/wap.php?s=/User/user_upgrade" class="person-head-right-up">升级账户</a></p>
            <p>信用积分：100</p>
			<p>平台积分：100</p>
            <p>上次登录时间：2017-09-23 12:30</p>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div class="middleline8"></div>
    
    <div class="person-list">
    	<a href="/wap.php?s=/Job/index"><div class="person-list-single"><img src="__IMG__/jianzhi.png"><br>兼职推荐</div></a>
        <a href="/wap.php?s=/Job/mydetail"><div class="person-list-single"><img src="__IMG__/zhongbiao.png"><br>中标工作</div></a>
        <a href="/wap.php?s=/User/user_info_edit"><div class="person-list-single"><img src="__IMG__/jzjilu.png"><br>兼职记录</div></a>
        <a href="taskstates-success.html"><div class="person-list-single"><img src="__IMG__/zhaoren.png"><br>我要招人</div></a>
        <a href="task.html"><div class="person-list-single"><img src="__IMG__/toubiao.png"><br>投标人员</div></a>
        <a href="weiquan.html"><div class="person-list-single"><img src="__IMG__/zrjilu.png"><br>招人记录</div></a>
        <div style="clear:both;"></div>
    </div>
    <div class="taskinfo-tips">
    	<div class="editinfo-skill-tips">
        	<img src="__IMG__/tips.png">账户等级越高获取的信息越好，佣金越高，信息优先获得，优先被雇主选择。
        </div>
    </div>
    
    <div class="pop-box">
    	<div class="pop-zhezhao"></div>
        <div class="pop">
        	<h3>提现金额</h3><input class="pop-tixianinput" autofocus type="number" placeholder="请输入提现金额">
            <div class="pop-button-k">
            	<div class="pop-button1">确认</div>
                <div class="pop-button2">取消</div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
    
    
    
    <script src="js/jquery-2.1.4.js"></script>
    <script>
		$(".pop-box").css("height",document.body.offsetHeight);
		$("#tixian").click(function(){
			$(".pop-box").show();
		})
		$(".pop-zhezhao").click(function(){
			$(".pop-box").hide();
		})
	</script>
	
</body>
</html>
<div class="why haha"></div>

<include file="Public/footer"/>