<include file="Public/head-home"/>
<body>
	<div class="person-head">
    	<div class="person-head-left">
        	<img src="__IMG__/head.jpg">
            <p>王XX</p>
        </div>
        <div class="person-head-right">
        	<p><img src="__IMG__/tong.png">铜牌会员</p>
            <p>信用积分：100</p>
            <p>平台积分：130</p>
            <p>联系电话：15896542563<a href="tel:15896542563" class="person-head-right-up">联系他</a></p>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div class="middleline8"></div>
    
   	<div class="employee-info-nav2">
   		<p><b>个人技能：</b> 木工、建筑、维修、农活、园林绿化</p>
        <p><b>个人评价：</b>老板您好，本人从事搬用兼职2年多了，能很好的完成您的这份工作，给个机会呗。</p>
   	</div>
    
    <div class="editinfo-submit">
    	<input type="button" value="雇佣他">
    </div>                       
    
    
<include file="Public/footer"/>