<include file="Public/head-home"/>

<body>
	<div class="up-single">
    	<b>金牌</b>
        <!--<span class="up-single-center">1000元/年</span>-->
        <a href="tel:18315822321"><input type="button" value="立即升级"></a>
    </div>
    <div class="up-single">
    	<b>银牌</b>
        <!--<span class="up-single-center">500元/年</span>-->
        <a href="tel:18315822321"><input type="button" value="立即升级"></a>
    </div>
    <div class="up-single">
    	<b>铜牌</b>
        <!--<span class="up-single-center">200元/年</span>-->
        <a href="tel:18315822321"><input type="button" value="立即升级"></a>
    </div>
    
    <div class="up-tips">
    	您目前的状态为普通会员<br>
       	为提高您的接单质量，获取更好的信息<br>
        升级账户成为我们的高级会员<br>
        享受更好的服务！
    </div>
<include file="Public/footer"/>