<include file="Public/head-home"/>
	<div class="person-head">
    	<div class="person-head-right-edit">
			<a href="/wap.php?s=/User/user_info_edit/usertype/user">修改个人信息</a>
		</div>
		<div class="person-head-left">
                 <if condition="$userinfo['avatar'] neq ''">
                    <img src="{$userinfo['avatar']}" />
                 <else />   
                    <img src="__IMG__/head.jpg">
                 </if>
                    <br>
                 {$userinfo['username']}<br>
                 
                <p>
                                <if condition="$userinfo['phone'] neq ''">
                                    <?=substr_replace($userinfo['phone'],'*****',3,5); ?>
                                </if>
                                <if condition="$userinfo['type'] eq 'user'">
                                    <!--<a href="/wap.php?s=/User/user_info">微名片</a>-->
                                <elseif condition="$userinfo['type'] eq 'company'" />
                                    <!--<a href="/wap.php?s=/User/company_info">公司名片</a>-->
                                </if><br>
                                <if condition="$userinfo['type'] eq 'user'">
                                    <!--<a href="/wap.php?s=/User/user_info_edit/usertype/user">设置</a>-->
                                <elseif condition="$userinfo['type'] eq 'company'" />
                                    <!--<a href="/wap.php?s=/User/user_info_edit/usertype/company">设置</a>-->
                                </if>
                                
                </p>
        </div>
        <div class="person-head-right">
        	
			<p><img src="__IMG__/tong.png">铜牌会员 <a href="/wap.php?s=/User/user_upgrade" class="person-head-right-up">升级账户</a></p>
            <p>信用积分：100</p>
			<p>平台积分：100</p>
            <p>上次登录时间：2017-09-23 12:30</p>
			
        </div>
        <div style="clear:both;"></div>
    </div>
    <div class="middleline8"></div>
    
    <div class="person-list">
    	<a href="/wap.php?s=/Resume/resume"><div class="person-list-single"><img src="__IMG__/resume.png"><br>我的简历</div></a>
		<a href="javascript:;"><div class="person-list-single"><img src="__IMG__/tuijian.png"><br>工作推荐</div></a>
        <a href="/wap.php?s=/Job/joblist/type/my"><div class="person-list-single"><img src="__IMG__/like.png"><br>工作收藏</div></a>
        <a href="/wap.php?s=/Job/joblist/type/my"><div class="person-list-single"><img src="__IMG__/doing.png"><br>进行中</div></a>
        <a href="/wap.php?s=/User/employerinfo"><div class="person-list-single"><img src="__IMG__/employerhome.png"><br>企业主页</div></a>
        <a href="/wap.php?s=/Job/pushjob"><div class="person-list-single"><img src="__IMG__/zhaoren.png"><br>发布招聘</div></a>
        <a href="/wap.php?s=/Resume/resumelist"><div class="person-list-single"><img src="__IMG__/like.png"><br>简历收藏</div></a>
        <a href="/wap.php?s=/Job/joblist/type/mypush"><div class="person-list-single"><img src="__IMG__/jilu.png"><br>招聘记录</div></a>
        <div style="clear:both;"></div>
    </div>
    <div class="taskinfo-tips">
    	<div class="editinfo-skill-tips">
        	<img src="__IMG__/tips.png">账户等级越高获取的信息越好，佣金越高，信息优先获得，优先被雇主选择。
        </div>
    </div>
    
    
    
    
    <script src="js/jquery-2.1.4.js"></script>

	
</body>
</html>
<div class="why haha"></div>

<include file="Public/footer"/>